@import './base.css';

body {
  background-color: #f5f5f5;
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  padding: 0.5rem 1.5rem;
  background-color: #1c1917;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container span {
  font-family: 'Goldman', sans-serif;
  font-size: 1rem;
  color: white;

  display: inline-block;
  margin-left: -12px;
}

main {
  border-radius: 10px;
  background-color: white;
  color: #1c1917;

  margin: 0.75rem;
  padding: 1rem;
}

main .layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 0.6rem;
  margin-bottom: 1rem;
}

section {
  border: 1px solid #cbd5e1;
  border-radius: 5px;

  > h4 {
    background-color: #f8fafc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #cbd5e1;

    padding: 0.2rem 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;

    align-items: center;

    padding: 0.75rem 0.75rem;
    font-size: 0.8rem;

    input {
      width: 150px;

      border: 2px solid #ced7e3;
      border-radius: 8px;
      color: hsl(24, 0%, 40%);

      padding: 0.3rem 0.5rem;

      font-size: 0.9rem;
      font-weight: bold;
    }
  }

  .buttons {
    padding: 0.75rem 0.75rem;
    padding-top: 0;
  }

}

/* I m made these styles use em because I wanted them to
 * be relative to the rest of the application. */

.quote {
  .currency-view-wrapper {
    display: inline;
  }

  span {
    font-weight: bold;
  }
}

.empty {
  display: inline-block;

  padding: 0.5em 0.75em;

  font-style: italic;
  color: #666;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5em;

  padding-bottom: 0.5em;
}

button {
  display: flex;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: space-around;
  gap: 0.4em;

  width: 55px;

  background-color: #1C1917;
  color: white;
  border: none;
  border-radius: 5px;

  font-size: 0.75em;

  padding: 0.6em 0.9em;

  cursor: pointer;

  i {

    display: inline-block;


    font-size: 1.2em;
    margin-left: -0.3em;
    margin-right: 0.3em;
  }
}

button.danger {
  background-color: #DC2626;
  color: white;
}

button.icon {
  width: auto;
}
